body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Setup */

:root {
  --colour-dark-purple: #262261;
  --colour-orange: #f7931d;
  --colour-ivory: #fcf5e4;
  --colour-red: #ff0000;
  --colour-green: #01a32f;
  --colour-hot-pink: #ed2a7b;
  --colour-grey: #d9d9d9;
  --colour-white: #ffffff;
  --colour-black: #000000;
  --colour-purple-grey: #3b3743;
  --colour-settings-grey: rgb(177 177 177);
  --colour-placeholder-grey: rgb(123 118 129);
}

/* Navigation Bar */

.nav-bar-item {
  text-decoration: none;
  color: var(--colour-black);
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1.5rem;
  width: 100%;
}

.nav-bar-item:hover, .item-selected {
  background-color: var(--colour-grey);
}

.item-selected {
  border-left: var(--colour-hot-pink) solid 5px;
  padding-left: calc(1.5rem - 5px);
  animation: grow-border 0.2s ease-in-out;
}

.nav-bar {
  width: 150px; 
  height: 100vh;
  padding-top: 220px;
  border-right: 1px solid var(--colour-black);
  font-weight: 500;
  position: fixed;
  background-color: var(--colour-white);
}

.nav-bar-item-icon, .logout-icon {
  margin-right: 10%;
  width: 20px;
  height: 20px;
}

.nav-bar-logo {
  width: 120px;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 999;
}

/* Log Out Button */

.logout-button {
  position: fixed;
  text-decoration: none;
  color: var(--colour-black);
  bottom: 70px;
  padding-left: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 149px;
  background-color: var(--colour-white);
}

.logout-button:hover {
  background-color: var(--colour-grey);
}

/* Greeting Heading */

.greeting-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Settings Button */

.settings-button {
  background-color: var(--colour-settings-grey);
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem; 
  padding-bottom: .5rem;
  border-radius: .5rem;
  color: var(--colour-white);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.settings-icon {
  margin-right: 1rem;
  width: 20px;
}

/* Home Page */

.home-page {
  padding-left: calc(150px + 2rem);
  padding-right: 2rem;
  padding-top: 3rem;
}

.home-top-row {
  justify-content: space-between;
}

.time-rehearsed-container {
  width: 100%;
  background-color: var(--colour-white);
  border-radius: 1rem;
  border: var(--colour-black) solid 1px;;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.time-rehearsed-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.time-rehearsed-description {
  font-size: 1rem;
  font-weight: 600;
}

.time-rehearsed-rightside {
  display: flex;
  gap: 1rem;
}

.time-rehearsed-rightside-item {
  background: rgb(94,45,205);
  background: linear-gradient(45deg, rgba(94,45,205,1) 35%, rgba(183,100,234,1) 100%);
  border-radius: .5rem;
  width: 8rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: var(--colour-white);
  font-weight: 700;
  font-size: 0.75rem;
}

.time-rehearsed {
  font-size: 1rem;
}

.reminders {
  width: 100%;
  background-color: var(--colour-white);
  border-radius: 1rem;
  border: var(--colour-black) solid 1px;;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 700;
}

.reminders-title {
  font-size: 1.25rem;
}

.your-statistics {
  width: 100%;
  margin-top: 1rem;
  font-weight: 700;
}

.your-statistics-title {
  font-size: 1.25rem;
}

.your-statistics-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80%
}

.your-statistics-form select {
  width: 35%;
  height: 2.25rem;
  border-radius: .25rem;
  border: var(--colour-black) solid 1px;
  padding-left: .5rem;
  font-size: 1rem;
  cursor: pointer;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url(./assets/drop-down-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.your-statistics-form select:focus {
  outline: none;
}

.your-statistics-form select option {
  font-size: 1rem;
}

.your-statistics-submit {
  background-color: var(--colour-orange);
  color: var(--colour-black);
  font-weight: 700;
  font-size: .9rem;
  border-radius: .25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
}

.your-statistics-results {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--colour-white);
  border: var(--colour-black) solid 1px;;
  padding: 1rem;
  margin-bottom: 2rem;
}

.no-result {
  font-weight: 700;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.no-result img {
  width: 13rem;
}

/* Signup Form */
.form-box {
  background-color: var(--colour-purple-grey);
  border-radius: 10px;
  margin: 0 auto;
  width: 50vw;
  margin-top: 10vh;
  padding-bottom: 60px;
}

.signup-form {
  background: rgb(79,47,138);
  background: linear-gradient(45deg, rgba(79,47,138,1) 0%, rgba(147,84,194,1) 50%, rgba(79,47,138,1) 100%);
  width: 100vw;
  height: 100%;
  padding-bottom: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

.form-logo {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
  background-color: var(--colour-white);
  transform: translateY(-15%);
}

.form-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.container .form {
  margin-top: 5px;
  margin: 0px 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form .input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  padding: 0 15px;
  border: none;
  margin-top: 10px;
}

.form .input-box label {
  color: var(--colour-white);
  font-weight: 600;
  font-size: 15px;
}

.form .column {
  display: flex;
  column-gap: 10px;
}

.form-select-box select {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  color: var(--colour-placeholder-grey);
  border-radius: 6px;
  margin-top: 10px;
  justify-content: space-between;
  padding-left: 15px;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: var(--colour-white);
  background-image: url(./assets/drop-down-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.form-login {
  display: flex;
  width: 100%;
  justify-content: right;
  color: var(--colour-settings-grey);
  margin-top: 30px;
  font-weight: 600;
  font-size: 15px;
}

.login-link {
  color: var(--colour-settings-grey);
  margin-left: 5px;
}

.signup-button {
  background-color: var(--colour-hot-pink);
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 6px;
  border: none;
  margin-top: 25px;
  color: var(--colour-white);
  font-weight: 550;
  font-size: 15px;
}

/* User Selection */

.center-box {
  background-color: var(--colour-purple-grey);
  width: 70vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.icon-img {
  border-radius: 0 0 10px 10px;
  background-color: var(--colour-white);
  padding-top: 40px; 
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 250px;
  height: 180px;
  width: 180;
}

.center-text {
  margin-top: 50px;
  color: var(--colour-white);
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif; 
  text-align: center;
}

.bg {
  background: rgb(79,47,138);
  background: linear-gradient(45deg, rgba(79,47,138,1) 0%, rgba(147,84,194,1) 50%, rgba(79,47,138,1) 100%);
  min-height: 100vh;
  padding-bottom: 10vh;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-options-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.user-option {
  cursor: pointer;
  background-color: var(--colour-white);
  border-radius: 1rem;
  width: 40%;
}

.user-option img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

/* Animations */

@keyframes grow-border {
  0% {
    border-left: var(--colour-hot-pink) solid 0px;
    padding-left: calc(1.5rem - 0px);
  }
  100% {
    border-left: var(--colour-hot-pink) solid 5px;
    padding-left: calc(1.5rem - 5px);
  }
}
